.card {
  background: #fff;
  border-radius: 2px;
  height: 425px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  cursor: pointer;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  background-image:cover;
}
.card > .img-container > img {
  width: 100%
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 0px;
}

.date {
  color:#64B264;
}
